.wrapper > p:nth-child(3n + 1) {
  visibility: hidden;
  color: transparent;
  font-size: 0;
  letter-spacing: unset;
}

.wrapper > p:nth-child(5n + 1) {
  visibility: hidden;
  color: transparent;
  font-size: 0;
  letter-spacing: unset;
}

.wrapper > p:nth-child(3n + 1)::before {
  width: auto;
  height: auto;
  content: "Fizz";
  visibility: visible;
  display: inline-block;
  font-size: 16px;
  letter-spacing: normal;
  padding: 2px 0;
  color: initial;
}

.wrapper > p:nth-child(5n + 1)::after {
  width: auto;
  height: auto;
  content: "Buzz";
  visibility: visible;
  display: inline-block;
  font-size: 16px;
  letter-spacing: normal;
  padding: 2px 0;
  color: initial;
}
.wrapper > p:first-of-type::after {
  width: auto;
  height: auto;
  content: "0";
}
.wrapper > p:first-of-type::before {
  width: auto;
  height: auto;
  content: unset;
}

.wrapper > p {
  padding: 2px 0;
}