.wrapper > p {
    font-size: 16px;
    color: black;
}

.wrapper > p:nth-child(3n + 1),
.wrapper > p:nth-child(5n + 1),
.wrapper > p:first-of-type {
    visibility: hidden;
    color: transparent;
    font-size: 0;
    letter-spacing: inherit;
}

.wrapper > p:nth-child(3n + 1)::before,
.wrapper > p:nth-child(5n + 1)::after,
.wrapper > p:first-of-type::before,
.wrapper > p:first-of-type::after {
    width: auto;
    height: auto;
    visibility: visible;
    display: inline-block;
    font-size: 16px;
    letter-spacing: normal;
    color: black;
}

.wrapper > p:nth-child(3n + 1)::before {
    content: "Fizz";
}

.wrapper > p:nth-child(5n + 1)::after {
    content: "Buzz";
}

.wrapper > p:first-of-type::before {
    content: unset;
}

.wrapper > p:first-of-type::after {
    content: "0";
}
